<div class="content-header">
  <span>Periodos Nominales</span>
</div>

<!-- <mat-form-field *ngIf="items.length">
  <mat-icon matPrefix class="primary icon-input">search</mat-icon>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
</mat-form-field> -->
<div class="table-container" *ngIf="items.length; else empty">
  <div class="table-wrap">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-table">Periodo</th>
        <td mat-cell *matCellDef="let row" (click)="goReport(row)" class="clickeable" matRipple> 
          <div class="field-reduce">
            {{ (row.dateFrom | date: 'dd/MM/yyyy') + ' al ' + (row.dateTo | date: 'dd/MM/yyyy') }}
          </div> 
        </td>
      </ng-container>
  
      <ng-container matColumnDef="salaries">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-table">Sueldos (Bs)</th>
        <td mat-cell *matCellDef="let row">
          <div class="field-reduce">
            {{ row.salaries | number: '1.2-2'  }}
          </div> 
        </td>
      </ng-container>
  
      <ng-container matColumnDef="deductions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-table">Deducciones (Bs)</th>
        <td mat-cell *matCellDef="let row">
          <div class="field-reduce">
            {{ row.deductions | number: '1.2-2'   }}
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-table">Total pagado (Bs)</th>
        <td mat-cell *matCellDef="let row">
          <div class="field-reduce">
            {{ (row.salaries  + row.deductions) | number:'1.2-2'  }}
          </div> 
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </div>
  <mat-paginator [hidePageSize]="true" [pageSize]="10"></mat-paginator>
</div>
<ng-template #empty>
  <empty 
    [text]="'No hay registros para mostrar.'"
    [icon]="'error'"
  >
  </empty>
</ng-template>

<button mat-fab class="fab-button-br" color="primary" (click)="DialogeForm()">
  <mat-icon>add</mat-icon>
</button>