/* For use in src/lib/core/theming/_palette.scss */
$primary: (
    50 : #e0eef0,
    100 : #b3d4da,
    200 : #80b7c1,
    300 : #4d9aa8,
    400 : #268495,
    500 : #006e82,
    600 : #00667a,
    700 : #005b6f,
    800 : #005165,
    900 : #003f52,
    A100 : #85dcff,
    A200 : #52cdff,
    A400 : #1fbeff,
    A700 : #05b7ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

